body {
  background-color: #dfdfdf;
}
/* typograyphy  */
.main_heading {
  margin: 16px 0;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(48, 49, 52);
}
.sub_heading {
  margin: 16px 0;
  line-height: 1.3;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text_heading);
}
/* typograyphy  */
.primary_btn {
  background: #eae9e9e8;
  box-shadow: rgba(255, 255, 255, 0.829) -10px -10px 15px,
    rgba(70, 70, 70, 0.418) 5px 5px 10px;
  border: 0;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: all .5s;
  text-transform: uppercase;
  &:hover {
    background-color: var(--primary-color);
    color:#fff;
    box-shadow: rgba(255, 255, 255, 0.829) -10px -10px 15px,
      rgba(0, 49, 82, 0.418) 5px 5px 10px;
  }
}
.input_comp{
     box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.45),
    inset 3px 3px 3px rgba(94, 104, 121, 0.3);
  display: block;
  border: 1px solid rgba(1, 39, 116, 0);;
  padding: 8px 10px;
  width: 100%;
  border-radius: 8px;
  &:focus{
     box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.45),
    inset 3px 3px 3px rgba(1, 37, 99, 0.3);
      border: 1px solid rgb(1, 39, 116);

  }
}
.my-container {
  max-width: 900px;
  margin: auto;
}
header {
  z-index: 99;
}
header .banner-header h6 {
  color: var(--text_heading);
}
.offcanvas.hiding,
.offcanvas.show,
.offcanvas.showing {
  visibility: visible;
  background: var(--primary-color);
}
.navbar_style {
  background-color: var(--primary-color);
}
main {
  min-height: 80vh;
  padding: 18px;
}
.image-wrapper {
  width: 100%;
  height: 170px;
  overflow: hidden;
  border-radius: 5px;
}
.image-wrapper img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
  }
}

.offcanvas-body ul li a.active,
.offcanvas-body ul li a {
  padding: 5px 10px !important;
  background: #f0f0f0;
  border-radius: 5px;
  /* box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.45),
    3px 3px 5px rgba(94, 104, 121, 0.463); */
}
.offcanvas-body ul li a {
  box-shadow: unset;
  background: unset;
  font-size: 13px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.bg-body-custom {
  background: #ececec;
}
.imgCard {
  background: #eae9e9e8;
  box-shadow: rgba(255, 255, 255, 0.829) -10px -10px 15px,
    rgba(70, 70, 70, 0.418) 5px 5px 10px;
}
.contact-card {
  border: 0;
  background: #eae9e9e8;
  box-shadow: rgba(255, 255, 255, 0.829) -10px -10px 15px,
    rgba(70, 70, 70, 0.418) 5px 5px 10px;
}
.contact-card input,
.contact-card textarea {
  box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.45),
    inset 3px 3px 3px rgba(94, 104, 121, 0.3);
  display: block;
  outline: none;
  border: none;
  padding: 8px 10px;
  width: 100%;
  border-radius: 8px;
}
.button {
  background: #eae9e9e8;
  box-shadow: rgba(255, 255, 255, 0.829) -10px -10px 15px,
    rgba(70, 70, 70, 0.418) 5px 5px 10px;
  border: 0;
  padding: 18px 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.education-card {
  width: 100%;
  min-height: 300px;
  border: 1px solid red;
}
.skill_imag_wrapper{
 height: 150px !important;
 padding:10px;
 overflow: hidden;
}
.skill_image{
 height: 150px !important;
 padding:10px;
  object-fit: contain;
}

/* dashboard =============== */
.auth-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-wrapper input{
  width: 250px;
}
 .auth-wrapper .image-wrapper,.auth-wrapper .image-wrapper img{
  width: 400px;
  height: 100%;
  object-fit:cover;
  object-position: top left;
 }
  .auth-wrapper .card-body{
    min-width: 400px;
  }